<div class="row">
  <!-- sepracion de la graficas se muestran cada consumo de cuarto -->
  <p class="text-center">Estadistica de consumo de cada cuarto</p>
  <div class="col-sm-12">
    <h3 class="text-center">Cuartos</h3>
    <router-outlet>
      <app-graficas></app-graficas>
    </router-outlet>
    <!-- <button class="btn btn-primary" (click)="randomize()">Actualizar</button> -->
  </div>
</div>
<div>
  <!-- <h1 class="text-center">Monto a pagar en pesos</h1>
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tarifa</th>
        <th scope="col">Valor de consumo</th>
        <th scope="col">Total a pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1B</th>
        <td>0.826 $/kWh</td>
        <td>Otto</td>
        
      </tr>
      <tr>
        <th scope="row">1C</th>
        <td>0.786 $/kWh</td>
        <td>Thornton</td>
        
      </tr>
      <tr>
        <th scope="row">1D</th>
        <td>0.786 $/kWh</td>
        <td>the Bird</td>
        <
      </tr>
      <tr>
        <th scope="row">1E</th>
        <td>0.653 $/kWh</td>
        <td>the Bird</td>
        
      </tr>
      <tr>
        <th scope="row">1F</th>
        <td>0.653 $/kWh</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table> -->
</div>